.background-image{
    background-image: url('https://img.freepik.com/premium-photo/3d-render-study-table-with-laptop-books-with-library-blurred-background_67155-15101.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}